# ==============================================
# Gitignore file for Progresql Database project
# ==============================================

# ==============================================
# 1. Environment files
# ==============================================
.venv/
.env